doctype html
html(lang="en")
  head
  title="Hunter Assisant"
  link(rel="stylesheet", href="#{asset('/css/bootstrap.css')}")
  link(rel="stylesheet", href="#{asset('/css/application.css')}")
  body
    div(class="header")
      nav(class='navbar navbar-default')
        div(class="container")
          div(class="navbar-header")
            a(class="navbar-brand", href="/")
              img(src="#{asset('/image/brand.png')}", alt="Brand", width="20", height="20")
          p(class="navbar-text") Hunter Assisant SaaS Version
          button(class="btn btn-default btn-success navbar-btn navbar-right", type="button") Sign in
    div(class="container")
      block content
    div(class="container footer") 
