.footer{
  position: relative;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 12px;
  line-height: 1.5;
  color: #767676;
  border-top: 1px solid #EEE;
}

.hs-info{
  border-top: 1px solid #EEE;
  margin: 0 0 40px 0;
}
